
$red-color: #FF0707;
$green-color: #30814D;
$light-color: rgba(255, 255, 255, 1);
$partner-btncolor: rgba(255, 4, 4, 1);
$get-started-btncolor: rgba(255, 7, 7, 1);
$dark-color: #000000;
$overlay-bgcolor: rgba(0, 0, 0, 0.76);
$ambassador-tagcolor: rgba(129, 48, 87, 1);


// Home
$showcase-color: rgba(48, 129, 77, 0.06);
$partnership-bgcolor: rgba(251, 250, 250, 1);
$usersbg-color: rgb(227, 222, 222);


// Signup
$social-icons-bgcolor: rgba(250, 249, 249, 1);
$email-password-inputcolor: rgba(235, 233, 233, 0.25);

// About us
$know-us-bgcolor: rgba(217, 217, 217, 0.2);

// Blog
$blog-bgcolor: rgba(245, 245, 245, 1);

//Search
$search-inputcolor: rgba(244, 242, 242, 1);
$mentor-rating-bgcolor: rgba(20, 44, 56, 0.25);


// Mentor registration
$mentor-reg-inputcolor: rgba(244, 242, 242, 1);

// Partnership
$logo-container-bgcolor: rgba(209, 210, 209, 0.22);

// Team
$dropshadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);


// Chat
$chat-bgcolor:  rgba(248, 248, 248, 1); //use for forum also

// Survey
$appreciation-bgcolor:  rgba(241, 241, 241, 1);
$textarea-bordercolor: rgba(104, 104, 104, 1)











