@import url("../css/fonts.css");



:root{
  --red-color: #FF0707;
  --green-color: #30814D;
  --text-green:  rgba(61, 114, 80, 1);
  --light-color: rgba(255, 255, 255, 1);
  --partner-btncolor: rgba(255, 4, 4, 1);
  --get-started-btncolor: rgba(255, 7, 7, 1);
  --dark-color: #000000;
  --overlay-bgcolor: rgba(0, 0, 0, 0.76);
  --ambassador-tagcolor: rgba(129, 48, 87, 1);
  --showcase-color: rgba(48, 129, 77, 0.06);
  --partnership-bgcolor: rgba(251, 250, 250, 1);
  --usersbg-color: rgb(227, 222, 222);
  --social-icons-bgcolor: rgba(250, 249, 249, 1);
  --email-password-inputcolor: rgba(235, 233, 233, 0.25);
  --know-us-bgcolor: rgba(217, 217, 217, 0.2);
  --blog-bgcolor: rgba(245, 245, 245, 1);
  --search-inputcolor: rgba(244, 242, 242, 1);
  --mentor-rating-bgcolor: rgba(20, 44, 56, 0.25);
  --mentor-reg-inputcolor: rgba(244, 242, 242, 1);
  --logo-container-bgcolor: rgba(209, 210, 209, 0.22);
  --dropshadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
  --chat-bgcolor:  rgba(248, 248, 248, 1);
  --appreciation-bgcolor:  rgba(241, 241, 241, 1);
  --textarea-bordercolor: rgba(104, 104, 104, 1)
}

.red-color{color: var(--red-color);}
.green-color{color: var(--green-color);}
.text-green{color: var(--text-green);}
.light-color{color: var(--light-color);}

.bg-red{background-color: var(--red-color);}
.light-color{color: var(--light-color);}
.bg-green{background-color: var(--green-color);}
.overlay-bgcolor{background-color: var(--overlay-bgcolor);}
.partner-btncolor{background-color: var(--partner-btncolor);}
.get-started-btncolor{background-color: var(--get-started-btncolor);}
.dark-color{color: var(--dark-color);}

.ambassador-tagcolor{color: var(--ambassador-tagcolor);}
.showcase-color{color: var(--showcase-color);}
.bg-showcase{background-color: var(--showcase-color);}
.partnership-bgcolor{background-color: var(--partnership-bgcolor);}
.usersbg-color{background-color: var(--usersbg-color);}
.social-icons-bgcolor{background-color: var(--social-icons-bgcolor);}
.email-password-inputcolor{background-color: var(--email-password-inputcolor);}
.know-us-bgcolor{background-color: var(--know-us-bgcolor);}
.blog-bgcolor{background-color: var(--blog-bgcolor);}
.search-inputcolor{color: var(--search-inputcolor);}
.mentor-rating-bgcolor{background-color: var(--mentor-rating-bgcolor);}
.mentor-reg-inputcolor{background-color: var(--mentor-reg-inputcolor);}
.logo-container-bgcolor{background: var(--logo-container-bgcolor);}
.dropshadow{box-shadow: var(--dropshadow);}
.chat-bgcolor{background-color: var(--chat-bgcolor);}
.appreciation-bgcolor{background-color: var(--appreciation-bgcolor);}
.textarea-bordercolor{border-color: var(--textarea-bordercolor);}

#wrapper{
    height: 100vh;
}
#accordionSidebar .body{
    overflow: hidden;
    overflow-y: scroll;
}
#accordionSidebar .header{
    background: #ffffff;
    width: 100%;
}
#accordionSidebar .header img{
    width: 100px;
}

.idebar-divider{
    margin: 0!important;
}

/* width */
#accordionSidebar .body::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  #accordionSidebar .body::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  #accordionSidebar .body::-webkit-scrollbar-thumb {
    background: #888;
  }

#accordionSidebar .body{
    list-style-type: none;
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 0;
}



.table-bordered thead td, 
.table-bordered thead th {
    border-bottom-width: 0;
}
.table thead th {
    border-bottom: 0;
}




































.admin-login-container{
    padding: 50px 10px;
}

.logo{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    column-gap: 5px;
    margin-bottom: 20px;
}

 .logo img{
 height: 3rem;
}
 .logo .logo-text{
    color: rgb(25, 155, 25);
}

#admin-login-form .intro,
#rest-password-form .intro .intro,
#forgot-password-form .intro{
    font-size: .9rem;
}

#admin-login-form .form-group,
#reset-password-form .form-group,
#forgot-password-form .form-group{
    margin-top: 20px;
}

 label{
    margin-top: 20px;
    font-size: 1rem;
}


 .getstarted-btn
{
    font-size: 1rem;
    font-family: poppins-light;
    padding: 7px 0;
    background: rgb(0, 90, 0);
}

#forgot-password-form a.text-green{
    color: rgb(0, 90, 0);
}

#dashboard-container{
    height: 100vh;
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: 1.5fr 8.5fr;
}

.gtc-closed{
    grid-template-columns: .2fr 8fr!important;
}

#dashboard-container #sidebar{
    padding-top: 10px;
    position: relative;
    border-right: 1px solid rgba(236, 233, 233, 0.76);
    overflow: hidden;
}
.wp-40{
    width: 40px;
}

#dashboard-container #sidebar .sidebar-close,
#dashboard-container #sidebar .sidebar-open
{
    position: absolute;
    z-index: 88;

}

#dashboard-container #sidebar .sidebar-close{
    right: 20px;
    top: 10px;
    font-size: 1.3rem;
    cursor: pointer;
}
#dashboard-container #sidebar .sidebar-open{
    right: 12px;
    top: 10px;
    font-size: 1.3rem;
    cursor: pointer;
}


#dashboard-container #sidebar .header{
    padding: 10px;
    background: #ffffff;
}
#dashboard-container #sidebar .header .logo{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#dashboard-container #sidebar .body{
    background: var(--green-color);
    padding: 20px;
    height: calc(100% - 80px);
    overflow-y: scroll;
}

#sidebar .body::-webkit-scrollbar {
    width: 5px;
  }

#sidebar .body::-webkit-scrollbar-track {
    background: #ffffff;
  }
#sidebar .body::-webkit-scrollbar-thumb {
    background: var(--green-color);
  }


#dashboard-container #sidebar .body ul{
   display: flex;
   flex-direction: column;
   padding-left: 0;
}
#dashboard-container #sidebar .body li a{
    display: block;
    background: #ffffff;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 7px 20px;
    font-size: .9rem;
    color: var(--green-color);
}

#main .header .navbar{
    border-bottom: 1px solid rgba(211, 208, 208, 0.25);
}

#main .header .navbar .nav-link{
    margin-left: 0!important;
    padding: 0.5rem;
}



.admin-btn{
    padding: 10px 15px;
    border: 0;
    border-radius: 10px;
    text-transform: capitalize;
    background: var(--green-color);
    color: #ffffff;
}

#add-admin-form input{
    border: 1px solid rgba(236, 233, 233, 0.76);
    border-radius: 10px;
}

#add-admin-form .form-input{
    margin-top: 0;
}

#add-admin-form label{
    margin-top: 0px;
}



.table .status{
    text-align: center;
    color: #ffffff;
    border-radius: 10px;
    font-size: .8rem;
    padding: 5px 10px;
}
.table .status.active{
    background: #30814D;
    
}
.table .status.inactive{
    background: #b62a00;
}

.table .action{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    column-gap: 10px;
}

.table .action button{
    border: none;
    padding: 5px 10px;
    font-size: .9rem;
    border-radius: 10px;
    background: #ffffff;
    text-transform: capitalize;
}

.table .action button.suspend{
    border: 1px solid #b62a00;
    color: #b62a00;
}

.table .action button.view,
.table .action button.publish{
   color: rgb(24, 168, 24);
   border: 1px solid rgb(24, 168, 24);
}
.table .action button.activate{
   color: rgb(24, 168, 24);
   border: 1px solid rgb(24, 168, 24);
}

.pagination.table-pagination{
    justify-content: center;
}
.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: var(--green-color);
    border-color: none;
}

.page-link:focus {
    z-index: 3;
    color: var(--green-color);
    background-color: #e9ecef;
    outline: 0;
    box-shadow: none;
}

.page-link{
    color: var(--green-color);
}

.table th, .table td{
    font-size: .9rem;
}

.account-status{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: var(--dropshadow);
    background: #ffffff;
    column-gap: 10px;
    padding: 10px 20px;
    border-radius: 10px;
}

.account-status .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background-color: green;
    height: 35px;
    width: 35px;
    border-radius: 50px;
}

.account-status .text{
    color: #000000;
    font-size: 1rem;
    font-weight: 700;
    opacity: .8;
}

.account-status.suspended .icon{
    background-color: red;
}

.account-status.suspended .text{
    color: #FF0707;
}

.btn-approve, .btn-suspend{
    border: none;
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 700;
}

.btn-approve{
    background: #d3ebd3;
    color: green;
}

.btn-suspend{
    background: #f5d7d7;
    color: red;
}




.table .action button.unpublish,
.table .action button.delete
 {
    color: #a81818;
    border: 1px solid #a81818;
}

.add-blog-container .card-header{
    position: relative;
}

.container-close{
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 1.5rem;
    cursor: pointer;
}

.table td .actions{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}

.table td .actions button {
    padding: 2px 5px;
    border-radius: 10px;
    text-transform: capitalize;
    border: none;
}

.table .delete{
    background-color: orangered;
    border: 1px solid orangered;
    color: #ffffff;
}

.table .resolve{
    background: #ffffff;
    color: green;
    border: 1px solid green!important;
}

.table .pending{
    color: orangered;
    background: #edffed;
   
}

.table .resolved, .table .published{
    background: rgb(224, 252, 224);
    color: green;
}

.table .resolved,
.table .published,
.table .pending{
    padding: 3px 7px;
    border-radius: 10px;
    display: inline-block;
}

.chart-container {
    position: relative;
    height: 30rem;
    width: 100%;
}


@media screen and (max-width: 425px) {
    .chart-container {
        height: 15rem;
    }
}
