@font-face {
    font-family: "poppins-light";
    src: url("../fonts/Poppins-Light.otf");
  }
  @font-face {
    font-family: "poppins-bold";
    src: url("../fonts/Poppins-Bold.otf");
  }
  @font-face {
    font-family: "poppins-medium";
    src: url("../fonts/Poppins-Medium.otf");
  }
  @font-face {
    font-family: "poppins-extrabold";
    src: url("../fonts/Poppins-ExtraBold.otf");
  }
  @font-face {
    font-family: "poppins-mediumitalics";
    src: url("../fonts/Poppins-MediumItalic.otf");
  }
  @font-face {
    font-family: "poppins-bolditalics";
    src: url("../fonts/Poppins-BoldItalic.otf");
  }
  @font-face {
    font-family: "poppins-regular";
    src: url("../fonts/Poppins-Regular.otf");
  }
  @font-face {
    font-family: "poppins-semibold";
    src: url("../fonts/Poppins-SemiBold.otf");
  }
  @font-face {
    font-family: "poppins-semibold";
    src: url("../fonts/");
  }