/************** NAVBAR SECTION  **************/
@media screen and (max-width: 1199px) {
    .nav-link{
       margin-left: 15px;
    }
}


@media screen and (max-width: 991px ) {
  .header {
    background-position: right 18px;
    background-size: 550px 850px;
  }
    .nav-sm{
        position: absolute;
        top: 0;
        background-color: #fff;
        color: white;
        padding: 20px;
        padding-top: 40px;
        width: 300px;
        height: 100vh;
        left: -300px;
        z-index: 1000;
        align-items: flex-start!important;
        justify-content: left;
        transition: all .01s ease-in-out;
    }

    .nav-sm .nav-item{
        background-color: #F2F4F8;
        margin-top: 5px;
        width: 100%;
        padding: 5px 10px;
        margin: 0;
        border-bottom: 1px solid white;
    }

    .nav-sm .nav-link{
        color: #303030;
        font-size: 14px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .mt-sm-4{
        margin-top: 20px!important;
    }
    .bottom-border{
        border-bottom: 1px solid #1583E9!important;
    }

    .header .showcase{
        padding-bottom: 50px;
        background-size: 97%;
        background-repeat: no-repeat;
        background-position: center top;
      }

    .showcase .showcase-content{
        margin-top: 120px;
      }

      .showcase-content h1{
        font-size: 2.3rem;
       
       }
       .showcase-content a.partner-btn{
        margin: 45px 0 40px 0;
      }

.proclass img{
    left: 80%;
    width: 55px;
    height: 13px;
    
  }
  .proclass .icon{
   height: 60px;
   width: 60px;
  }

  #become-a-mentor p.p-justify{
    font-size: .8rem;
  }
  #become-a-mentor h3.heading-bold{
    font-size: 1rem;
  }
  #become-a-mentor div.svg{
    font-size: .8rem;
  }
  .form-intro h2{
    font-size: 1.8rem;
  }

  .form-intro #signin-btn,
.form-intro #signup-btn,
#signup-submit, #signin-submit{
  padding: 15px 0px;
  width: 200px;
}

.form-field #social-links ul .svg-inline--fa{
  height: 15px;
  width: 15px;
  padding: 7px;
}

.sidebar-card{
  width: 500px;
}
.upsurvey .getstarted-btn{
  font-size: .9rem;
  padding: 5px 10px!important;
}
.contact-us-info{
  padding: 40px 20px;
}

.contact-us-info .heading{
  font-size: 1rem!important;
  margin-bottom: 50px;
}

.contact-us-info .contact-info h5{
  font-size: .8rem;
}
.social h5{
  font-size: .9rem;
}
.social .social-links a {
  font-size: .7rem!important;
}
}


@media screen and (max-width: 767px) {
  .topnav-content{
    flex-direction: column;
    font-size: .6rem;
   }
   .topnav-content > *{
     margin-top: 5px;
     margin-bottom: 5px;
   }
  .header {
    background-position: right 10px;
    background-size: 380px 850px;
  }
    .proclass img{
        top: 18px!important;
        left: 80%;
        width: 45px!important;
        height: 10px;
        
      }
      .proclass .icon{
       height: 45px!important;
       width: 45px!important;
      }

    .showcase .showcase-content{
        margin-top: 100px;
      }

      .showcase-content h1{
        font-family: poppins-bold, poppins-extrabold;
        font-size: 1.8rem!important;
       
       }
       .showcase-content a.partner-btn{
        margin: 45px 0 40px 0;
      }

      #form-containter{
        position: static;
        height: auto;
        flex-direction: column-reverse;
        margin: 0;
      }
      .form-field, .form-intro{
        position: static;
        width: 100%;
        padding-left: 0!important;
        padding-right: 0!important;
        margin: 0;
      }

      .form-intro h4{
        margin-bottom: 30px!important;
        font-size: .9rem;
      }
      .form-intro h2{
        margin-bottom: 8px;
        font-size: 1.2rem;
      }
      .form-intro h6{
        margin-bottom: 20px;
      }

.form-intro #signin-btn,
.form-intro #signup-btn,
#signup-submit, #signin-submit{
  padding: 10px 0px;
  font-size: 1rem;
  width: 150px;
  margin-bottom: 0px;
}
#submit-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-intro{
  height: auto;
  padding: 1.5rem 0!important;
}
.form-field{
  height: auto;
  padding-left: 0!important;
  padding-right: 0!important;
}
.form-field .container{
  padding-top: 0!important;
  padding-bottom: 5!important;
}

.form-field h5{
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 800;
  margin: 30px 0;
  text-align: center;
}

#hide-me{
  display: none;
}

.icon{
  font-size: 18px;
  left: 20px;
}

#signup-form input{
  padding: 15px 15px 15px 60px;
  border-radius: 7px;
  line-height: 20px;
}

.stats h2{
  font-size: 2rem;
}

.stats span.title{
  font-size: .7rem;
}

#single-blog-main .header-info small{
  margin: 20px;
}

#single-blog-main .header-info .blog-card-title{
  margin: 10px 0;
}

.upsurvey{
  flex-direction: column;
}
section.converse .d-flex{
  flex-direction: column;
  align-items: flex-start!important;
}

.contact-us-info, #form-container{
  padding: 40px;
}


.contact-us-info .heading{
  font-size: 1.5rem!important;
  margin-bottom: 50px;
}

.contact-us-info .heading span{
  border-bottom: 2px solid #ffffff;
  padding-bottom: 5px;
}

.contact-us-info .contact-info{
  margin: 80px 0;
  display: block;
}

.contact-us-info .contact-info h5{
  font-size: 1.2rem;
}

}

@media screen and (max-width: 576px) {
  .header {
    background-position: right 10px;
    background-size: 380px 850px;
  }
  .row.process{
  flex-direction: column!important;
  margin-left: .5rem;
  margin-right: .5rem;
}

  .proclass img{
     display: none!important;
      
    }
    .proclass .icon{
     height: 70px;
     width: 70px;
    }


  .showcase .showcase-content{
      margin-top: 100px;
    }

    .showcase-content h1{
      font-family: poppins-bold, poppins-extrabold;
      font-size: 1.5rem;
     
     }
     .showcase-content a.partner-btn{
      margin: 45px 0 40px 0;
    }
    #testimonials-carousel .owl-nav .owl-next,
    #testimonials-carousel .owl-nav .owl-prev{
      display: none!important;
    }
    .quote-text, .quote-author{
      font-size: .8rem;
    }

    .stats h2{
      font-size: 1.5rem;
    }

    .stats span.title{
      font-size: .8rem;
    }

    
    .join-us-btn{
      text-transform: uppercase;
      font-size: 1.4rem;
      padding: 10px 14px;
      border-radius: 7px;
    }
    .sidebar-card{
      width: 400px;
    }
    .camera{
      right: 50px;
    }

    .profile-showcase .profile-img{
      width: 200px;
      height: 200px;
      left: 50%;
      transform: translate(-50%);
    }

    #user-profile .profile-intro{
      flex-direction: column;
      align-items: center;
    }

    #user-profile .profile-img{
      margin-bottom: 10px;
    }
    .profile-intro-text .partner-btn{
      padding: 10px 30px!important;
      font-size: .9rem;
    }
    .roles-card{
      justify-content: center;
    }
}




@media screen and (max-width: 425px){
  .showcase-content a.partner-btn{
    font-size: 1.5rem;
    margin: 35px 0;
  }
  .showcase-content .input-group input[type="text"],
.header .search-input{
  height: 40px;
}
.showcase-content input[type="text"]::placeholder{
  font-size: .8rem;
}

.header .showcase .showcase-content .input-group button{
  background-color: var(--red-color);
  height: 40px;
  width: 40px;
  margin-left: -40px;
}
  .text-sm{
    font-size: .6rem;
  }
  .showcase .showcase-content{
      margin-top: 40px!important;
    }
    #mentorship-category .heading-bold{
      font-size: 1.3rem;
    }

    .subfooter .contents{
      flex-direction: column;
    }

    #problem-statement .heading{
      font-size: 1.2rem;
    }

    #problem-statement p{
      font-size: .9rem;
    }

    .mission-heading, .mission .accordion-header button{
      font-size: .9rem;
    }

    .mission .accordion-body{
      font-size: .8rem;
    }

    .sidebar-card{
      width: 100%;
    }

    .upsurvey{
      flex-direction: row;
      margin-top: 130px;
    }

    .profile-intro-text .heading{
      font-size: 1.5rem!important;
      letter-spacing: 1px;
    }

    #areas-of-help .heading{
      font-size: 1.4rem;
    }

    #areas-of-help h5{
      font-size: 1rem;
    }

    #team-row{
      margin-top: 100px;
    }
    .card-container{
      position: relative;
      display: block;
      height: auto;
      margin-top: 50px;
      margin-bottom: 0;
    }
    .team-card{
      display: none!important;
    }
    .team-sub-card{
      position: static;
     display: block;
     box-shadow: var(--dropshadow);
     padding: 10px;
     margin-bottom: 100px;
    }
    .team-sub-card-header{
     flex-direction: column;
     justify-content: center;
     justify-content: center;
    }

    .team-sub-card-header .header-img{
      width: 200px;
      height: 200px;
      position: absolute;
      top: -100px;
    }

    .team-sub-card .info{
      margin-top: 100px;
    }

    .info .team-name{
      display: block;
      text-align: center;
    }

    .team-sub-card-body p{
      height: auto;
    }

   
}

@media screen and (max-width: 375px) {
  .showcase-content input[type="text"]::placeholder{
    font-size: .6rem;
  }
  .showcase-content a.partner-btn{
    font-size: 1.5rem;
    margin: 25px 0;
  }
  .showcase .showcase-content{
    margin-top: 25px!important;
  }
  #newsletter .partner-btn-sm{
    height: 3rem;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 7px 7px 0;
  }
  #newsletter input[type="text"]{
    height: 3rem;
    border-radius: 7px 0 0 7px;
  }

  #single-blog-main .blog-card-footer .reaction{
    margin-right: 0;
  }

  #single-blog-main .header-info small{
    margin-left: 0;
  }

  .upsurvey{
    flex-direction: column;
  }

  .profile-intro-text .partner-btn{
    padding: 10px 20px!important;
    font-size: .8rem;
  }
  .profile-intro-text .heading{
    font-size: 1.2rem!important;
    letter-spacing: 1px;
  }

  .profile-intro-text p{
    font-size: 0.8rem;
  }
  
}

@media screen and (max-width: 320px) {
  #mentorship-category .heading-bold{
    font-size: 1rem;
  }

  #user-profile .profile-img{
    width: 150px;
    height: 150px;
  }

  .profile-intro-text h3.heading{
    font-size: 1rem!important;
  }
  .profile-intro-text p{
    font-size: 0.7rem;
  }

  .profile-intro-text .partner-btn{
    font-size: .7rem;
    text-transform: uppercase;
    padding: 10px!important;
  }

  
.profile-intro-text .refer{
  text-transform: capitalize;
  margin: 0 10px;
  font-size: .8rem;
}
}



